%section#about-founders
  .titlebox.mission
    %h2
      About founders
    .dot
  %ul
    %li
      .avatar_founder
        =link_to twitter_url_for("despo") do
          =image_tag "despo.jpeg", class: "founder"
        .about
          .name
            =link_to "Despo Pentara", twitter_url_for("despo")
          .short_description
            something, something
      %p.lead
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %li
      .avatar_founder
        =link_to twitter_url_for("mariakhait") do
          =image_tag "maria.jpeg", class: "founder"
        .about
          .name
            =link_to "Maria Khait", twitter_url_for("mariakhait")
          .short_description
            something, something
        %p.lead
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehendulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.